<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Não Encontrada</title>
    <link rel="stylesheet" href="/css/globals.css" />
    <style>
      body {
        text-align: center;
        padding: 50px;
        font-family: "Poppins", sans-serif;
      }
      h1 {
        font-size: 3em;
        color: #333;
      }
      p {
        color: #666;
      }
      a {
        color: #007bff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>Erro 404</h1>
    <p>Oops! A página que você está procurando não foi encontrada.</p>
    <a href="/">Voltar para a página inicial</a>
  </body>
</html>
