<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Política de Privacidade - Win Code</title>
    <link rel="stylesheet" href="css/globals.css" />
    <link rel="stylesheet" href="css/privacy.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/globals.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/privacy.css') }}"
    />
  </head>
  <body>
    <header>
      <nav id="navbar">
        <div class="nav-logo">
          <a href="index.html"
            ><img
              src="{{ url_for('static', filename='images/logo.svg') }}"
              alt="Logo Win Code"
          /></a>
        </div>
        <ul class="nav-links">
          <li><a href="index.html">INÍCIO</a></li>
          <li><a href="services.html">SERVIÇOS</a></li>
          <li><a href="index.html#FaleConosco">FALE CONOSCO</a></li>
        </ul>
      </nav>
      <nav id="navbar-secondary">
        <div class="nav-logo">
          <a href="index.html"
            ><img
              src="{{ url_for('static', filename='images/logo.svg') }}"
              alt="Logo Win Code"
          /></a>
        </div>
        <ul class="nav-links">
          <li><a href="index.html">INÍCIO</a></li>
          <li><a href="services.html">SERVIÇOS</a></li>
          <li><a href="index.html#FaleConosco">FALE CONOSCO</a></li>
        </ul>
      </nav>
    </header>

    <main class="page-content">
      <section class="page-header">
        <div class="container">
          <h1>Política de Privacidade</h1>
        </div>
      </section>

      <section class="privacy-policy">
        <div class="container">
          <p>
            Esta política de privacidade controla o uso dos Softwares para
            dispositivos móveis criados pela Win Code Software.
          </p>

          <h3>Quais informações o aplicativo obtém e como é usado?</h3>

          <h4>Informações fornecidas pelo usuário</h4>
          <p>
            O Aplicativo obtém as informações que você fornece ao baixar e
            registrar o Aplicativo. O registro conosco é opcional. No entanto,
            lembre-se de que talvez você não consiga usar alguns dos recursos
            oferecidos pelo Aplicativo, a menos que se registre conosco.
          </p>

          <p>
            Quando você se registra conosco e usa o Aplicativo, geralmente
            fornece:
          </p>
          <p>(a) nome de usuário, senha e outras informações de registro;</p>
          <p>
            (b) informações que você nos fornece ao entrar em contato para obter
            ajuda;
          </p>
          <p>
            (c) informações inseridas em nosso sistema ao usar o Aplicativo.
          </p>

          <p>
            Também podemos usar as informações que você nos forneceu para
            contatá-lo de tempos em tempos para fornecer informações
            importantes, avisos necessários e promoções de marketing.
          </p>

          <h4>Informações coletadas automaticamente</h4>
          <p>
            Além disso, o Aplicativo pode coletar determinadas informações
            automaticamente, incluindo, sem limitação, o tipo de dispositivo
            móvel que você usa, o ID exclusivo do seu dispositivo móvel, o
            endereço IP do seu dispositivo móvel, seu sistema operacional móvel,
            o tipo de dispositivo móvel Navegadores da Internet que você usa e
            informações sobre a maneira como você usa o Aplicativo.
          </p>

          <h3>
            O aplicativo coleta informações precisas de localização em tempo
            real do dispositivo?
          </h3>
          <p>
            Este aplicativo não coleta informações precisas sobre a localização
            do seu dispositivo móvel.
          </p>

          <h3>
            Terceiros veem e/ou têm acesso às informações obtidas pelo
            Aplicativo?
          </h3>
          <p>
            Sim. Compartilharemos suas informações com terceiros apenas das
            maneiras descritas nesta declaração de privacidade.
          </p>

          <p>
            Podemos divulgar informações fornecidas pelo usuário e coletadas
            automaticamente:
          </p>
          <ul>
            <li>
              Conforme exigido por lei, como para cumprir uma intimação ou
              processo legal semelhante.
            </li>
            <li>
              Quando acreditarmos de boa fé que a divulgação é necessária para
              proteger nossos direitos, proteger sua segurança ou a segurança de
              terceiros, investigar fraudes ou responder a uma solicitação do
              governo.
            </li>
            <li>
              Com nossos provedores de serviços confiáveis que trabalham em
              nosso nome, não têm um uso independente das informações que
              divulgamos a eles e concordamos em aderir às regras estabelecidas
              nesta declaração de privacidade.
            </li>
            <li>
              Se a Win Code Software estiver envolvida em uma fusão, aquisição
              ou venda de todos ou parte de seus ativos, você será notificado
              por e-mail e/ou um aviso em destaque em nosso site sobre qualquer
              alteração na propriedade ou no uso dessas informações, bem como
              quaisquer opções que você possa ter em relação a essas
              informações.
            </li>
            <li>
              Para anunciantes e redes de publicidade e empresas de análise de
              terceiros, conforme descrito na seção abaixo.
            </li>
          </ul>

          <h3>Coleta e publicidade automáticas de dados</h3>
          <p>
            Podemos trabalhar com empresas de análise para nos ajudar a entender
            como o Aplicativo está sendo usado, como a frequência e a duração do
            uso. Trabalhamos com anunciantes e redes de publicidade de
            terceiros, que precisam saber como você interage com a publicidade
            fornecida no Aplicativo, o que nos ajuda a manter baixo o custo do
            Aplicativo.
          </p>
          <p>
            Anunciantes e redes de publicidade usam algumas das informações
            coletadas pelo Aplicativo, incluindo, entre outras, o ID de
            identificação exclusivo do seu dispositivo móvel e seu número de
            telefone celular. Para proteger o anonimato dessas informações,
            usamos uma tecnologia de criptografia para ajudar a garantir que
            esses terceiros não possam identificá-lo pessoalmente. Esses
            terceiros também podem obter informações anônimas sobre outros
            aplicativos que você baixou para o seu dispositivo móvel, os sites
            para celular que você visita, suas informações de localização não
            precisas (por exemplo, seu código postal) e outras informações de
            localização não precisas, a fim de ajudar a analisar e veicular
            publicidade direcionada anônima no Aplicativo e em outros lugares.
            Também podemos compartilhar versões criptografadas das informações
            que você forneceu para permitir que nossos parceiros anexem outras
            informações disponíveis sobre você para análise ou uso relacionado à
            publicidade.
          </p>

          <p>
            Se você deseja optar por não usar esse tipo de informação por
            terceiros para ajudar a veicular publicidade direcionada, visite a
            seção "Optar por não participar" abaixo.
          </p>

          <h3>Quais são os meus direitos de exclusão?</h3>
          <p>
            Existem várias opções de desativação para usuários deste Aplicativo:
          </p>

          <p>
            Optar por não receber toda a coleção de informações, desinstalando o
            Aplicativo: você pode interromper facilmente toda a coleção de
            informações pelo Aplicativo, desinstalando o Aplicativo. Você pode
            usar os processos de desinstalação padrão, pois podem estar
            disponíveis como parte do seu dispositivo móvel ou através do
            mercado ou da rede de aplicativos móveis. Você também pode solicitar
            a desativação por e-mail, em contato@wincode.com.br.
          </p>

          <p>
            Optar por não usar as informações para veicular publicidade
            direcionada por anunciantes e / ou anunciantes de rede de terceiros:
            a qualquer momento, você pode optar por não permitir mais o acesso
            aos dados de localização, descrevendo como o usuário pode gerenciar
            suas preferências de localização no nível do aplicativo ou do
            dispositivo.
          </p>

          <h3>Política de retenção de dados, gerenciando suas informações</h3>
          <p>
            Reteremos os dados fornecidos pelo usuário pelo tempo que você usar
            o Aplicativo e por um tempo razoável a partir de então.
          </p>

          <p>
            Reteremos as informações coletadas automaticamente por até 24 meses
            e, posteriormente, as armazenamos em conjunto. Se você deseja
            excluir os Dados Fornecidos pelo Usuário que você forneceu por meio
            do Aplicativo, entre em contato em contato@wincode.com.br e
            responderemos em um prazo razoável. Observe que alguns ou todos os
            dados fornecidos pelo usuário podem ser necessários para que o
            aplicativo funcione corretamente.
          </p>

          <h3>Crianças</h3>
          <p>
            Nós não usamos o Aplicativo para solicitar conscientemente dados ou
            comercializar para crianças menores de 13 anos. Se um dos pais ou
            responsável ficar ciente de que seu filho nos forneceu informações
            sem o consentimento deles, ele ou ela deve entrar em contato conosco
            pelo e-mail contato@wincode.com.br. Excluiremos essas informações de
            nossos arquivos dentro de um prazo razoável.
          </p>

          <h3>Segurança</h3>
          <p>
            Estamos preocupados em proteger a confidencialidade de suas
            informações. Fornecemos salvaguardas físicas, eletrônicas e
            processuais para proteger as informações que processamos e mantemos.
            Por exemplo, limitamos o acesso a essas informações a funcionários e
            contratados autorizados que precisam conhecer essas informações para
            operar, desenvolver ou melhorar nosso Aplicativo. Esteja ciente de
            que, embora nos esforcemos para fornecer segurança razoável às
            informações que processamos e mantemos, nenhum sistema de segurança
            pode impedir todas as possíveis violações de segurança.
          </p>

          <h3>Alterações</h3>
          <p>
            Esta Política de Privacidade pode ser atualizada periodicamente por
            qualquer motivo. Notificaremos você sobre quaisquer alterações em
            nossa Política de Privacidade, postando a nova Política de
            Privacidade aqui e informando você por e-mail ou mensagem de texto.
            É aconselhável consultar esta Política de Privacidade regularmente
            para quaisquer alterações, pois o uso continuado é considerado
            aprovação de todas as alterações.
          </p>

          <h3>Sua permissão</h3>
          <p>
            Ao usar o Aplicativo, você concorda com o processamento de suas
            informações, conforme estabelecido nesta Política de Privacidade
            agora e conforme alterado por nós. "Processamento" significa usar
            cookies em um computador/dispositivo portátil ou usar ou tocar em
            informações de qualquer forma, incluindo, entre outros, coleta,
            armazenamento, exclusão, uso, combinação e divulgação de
            informações, todas as atividades que ocorrerão. Se você residir fora
            do Brasil, suas informações serão transferidas, processadas e
            armazenadas nas normas de privacidade do Brasil.
          </p>

          <h3>Contate-Nos</h3>
          <p>
            Se você tiver alguma dúvida sobre privacidade durante o uso do
            Aplicativo ou tiver dúvidas sobre nossas práticas, entre em contato
            conosco pelo e-mail contato@wincode.com.br.
          </p>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-container">
        <div class="footer-left">
          <a href="services.html" class="footer-link">Soluções/Serviços</a>
          <a href="privacy.html" class="footer-link">Privacy Policy</a>
        </div>
        <div class="footer-right">
          <p>
            R. Santa Catarina, 5736 - Vila Gaúcha, Mal. Cândido Rondon - PR,
            85960-000
          </p>
          <p>(45) 3284-4200</p>
          <p>contato@wincode.com.br</p>
        </div>
      </div>
      <div class="footer-copyright">
        © 2024 Win Code. Todos os direitos reservados.
      </div>
    </footer>

    <script src="static/js/main.js"></script>
  </body>
</html>
